options {
	directory "/var/bind";
	
	// Specify a list of CIDR masks which should be allowed to issue recursive
	// queries to the DNS server. Do NOT specify 0.0.0.0/0 here; see above.
	allow-recursion {
			127.0.0.1/32;
	};
	
	forwarders {
		127.0.2.1; # DNScrypt Listen Address
	};
	
	// By default the resolver will attempt to perform recursive resolution itself
	// if the forwarders are unavailable. If you want this resolver to fail outright
	// if the upstream resolvers are unavailable, uncomment this directive.
	forward only;
	
	dnssec-validation auto;
	
	// If you have problems and are behind a firewall:
	//query-source address * port 53;
	
	pid-file "/var/run/named/named.pid";
	
	auth-nxdomain no;
	
	// Configure the IPs to listen on here.
	listen-on { 
		127.0.0.1; 
		include "/tmp/ipAddressDetect" # The IP Address is automatically detected and included during run time
	};
	listen-on-v6 { none; }; # You can edit this if you want IPv6 DNS services
	
	// Removing this block will cause BIND to revert to its default behaviour
	// of allowing zone transfers to any host (!). There is no need to allow zone
    // transfers when operating as a recursive resolver.
    allow-transfer { none; };
		
	allow-recursion { internals; }; # Specifies the LAN can recursively ask
	
	version none; # Hide version number in replies
};