options {
	directory "/var/bind";
	
	// Specify a list of CIDR masks which should be allowed to issue recursive
	// queries to the DNS server. Do NOT specify 0.0.0.0/0 here; see above.
	allow-recursion {
			127.0.0.1/32;
	};
	
	// If you have problems and are behind a firewall:
	//query-source address * port 53;
	
	include "/tmp/listenIpAddressDetect"; # The IP Address is automatically detected and included during run time
	
	forwarders {
		127.0.2.1; # DNScrypt Listen Address
	};
	
	pid-file "/var/run/named/named.pid";
	listen-on-v6 { none; }; 
	forward only;
	dnssec-validation auto;
	auth-nxdomain no;
    allow-transfer { none; };
	version none; 
};